<h1>edit contact</h1>
<hr>
 <a href = "#"ui-sref="show-contact">Show List</a>
<br><br>

<article id="edit-contact">
	<div ng-repeat="person in contacts">
	<form id="edit-contact">
	<input type="text" name="firstName" placeholder="first name" value="{{person.firstName}}" ng-model="person.firstName">
	<input type="text" name="lastName" placeholder="last name" value="{{person.lastName}}" ng-model="person.lastName">
	<input type="text" name="description" placeholder="description" value="{{person.description}}" ng-model="person.description">
	<input type="tel" name="telephoneNumber" placeholder="telephone number" value="{{person.telephoneNumber}}" ng-model="person.telephoneNumber">
	<input type="email" name="email" placeholder="email" value="{{person.email}}" ng-model="person.email">

	<button ng-click="onEditAction()">Edit</button>
</form> 
           
</div>

</article>